<div class="search-tips-container" *ngIf="showTips && getVisibleTips().length > 0">
  <div class="tips-header">
    <mat-icon class="tips-icon">lightbulb</mat-icon>
    <h3>Search Tips</h3>
    <button 
      mat-icon-button 
      class="dismiss-all-button"
      (click)="dismissAll()"
      *ngIf="dismissible"
      aria-label="Dismiss all tips"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="tips-list">
    <div 
      *ngFor="let tip of getVisibleTips()" 
      class="tip-item"
      [attr.data-category]="tip.category"
    >
      <div class="tip-content">
        <mat-icon class="tip-icon" *ngIf="tip.icon">{{ tip.icon }}</mat-icon>
        <div class="tip-text">
          <div class="tip-title">{{ tip.title }}</div>
          <div class="tip-description">{{ tip.description }}</div>
        </div>
      </div>
      <button 
        mat-icon-button 
        class="dismiss-button"
        (click)="dismissTip(tip.id)"
        *ngIf="dismissible"
        aria-label="Dismiss tip"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
